@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

/* Mengatur keseluruhan html */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

/* Mengatur bagian html */
html {
    font-size: 62.5%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    
}

/* Mengatur padding bagian section */
section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

/* Mengatur bagian subheading */
.sub-heading {
    text-align: center;
    color: #B2AC88;
    font-size: 2rem;
    padding-top: 1rem;
}

/* Mengatur bagian heading */
.heading {
    text-align: center;
    color: #000000;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

/* Mengatur lebar konten agar sesuai dengan lebar scrollbar */
body {
    padding-right: 15px;
  }
  
  /* Mengatur tampilan scrollbar saat tidak di-scroll */
body::-webkit-scrollbar {
    width: 8px; /* Atur lebar scrollbar */
    background-color: transparent; /* Atur warna latar belakang scrollbar */
  }
  
  /* Mengatur tampilan thumb scrollbar saat tidak di-scroll */
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Atur warna thumb scrollbar */
    border-radius: 4px; /* Atur radius sudut thumb scrollbar */
  }
  
  /* Mengatur tampilan scrollbar saat di-scroll */
  body:hover::-webkit-scrollbar {
    width: 8px; /* Atur lebar scrollbar saat di-scroll */
    background-color: rgba(0, 0, 0, 0.1); /* Atur warna latar belakang scrollbar saat di-scroll */
  }
  
  /* Mengatur tampilan thumb scrollbar saat di-scroll */
  body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Atur warna thumb scrollbar saat di-scroll */
  }  

/* Mengatur bagian btn */
.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #000000;
    background: #EDE9E3;
    border-radius: 10px;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: #CDC6C3;
}

/* Mengatur bagian header */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #B2AC88;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

/* Mengatur bagian header class logo */
header .logo {
    color: #000000;
    font-size: 3.5rem;
    font-weight: bold;
}

/* Mengatur bagian header class navbar */
header .navbar a{
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #000000;
}

header .navbar .active,
header .navbar a:hover {
    color: #B2AC88;
    background: #EDE9E3;
}

/* Mengatur bagian dropdown menu */

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.sub-menu-wrap {
    display: none;
    position: absolute;
    top: 110%;
    right: 1%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    animation: slideIn 0.3s ease;
}

.sub-menu-wrap.active{
    max-height: 400px;
    display: block;
}

.sub-menu {
    background: #EDE9E3;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    font-size: 22px;
    color: black;
}

.user-info .user {
    width: 70px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 5px;
}

.sub-menu hr {
    borber: 0;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    font-size: 17px;
    margin-right: 15px;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 15px;
    padding: 8px;
    margin-right: 12px;
}

.sub-menu-link span{
    font-size: 22px;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/* Mengatur bagian header class icons */
header .icons .fa-magnifying-glass,
header .icons .fa-heart,
header .icons .fa-cart-shopping {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    border-radius: 55%;
    background: #EDE9E3;
}

header .icons .fa-user {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    border-radius: 55%;
    background: #EDE9E3;
}

header .icons i:hover,
header .icons a:hover {
    color: #000000;
    background: #CDC6C3;
}


header .icons #menu-bars {
    display: none;
}  

/* Mengatur tampilan cart */
header .cart {
    position: fixed;
    top: 0;
    right: -110%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: .3s;
}

header .cart.active {
    right: 0;
}

header .cart-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 2rem;
}

header .cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

header .cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

header .detail-box {
    display: grid;
    row-gap: 0.5rem;
}

header .cart-product-title {
    font-size: 1.47rem;
    padding-top: 1.6rem;
}

header .cart-price {
    font-size: 1.6rem;
}

header .cart-quantity {
    border: 1px solid black;
    outline-color: var(--light-color);
    width: 3rem;
    text-align: center;
    font-size: 1.6rem;
}

header .fa-trash {
    font-size: 20px;
    color: #EDE9E3;
    cursor: pointer;
}

header .fa-trash:hover {
    font-size: 20px;
    color: #B2AC88;
    cursor: pointer;
}

header .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

header .total-title {
    font-size: 1.8rem;
    font-weight: 600;
}

header .total-price {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

header .btn {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #EDE9E3;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

header #close {
    position: absolute;
    top: 1rem;
    right: 0.8em;
    font-size: 2.7rem;
    color: black;
    cursor: pointer;
}

/* Mengatur tampilan search form */
#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #B2AC88;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: #B2AC88;
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

#search-form #close:hover {
    color: #B2AC88;
}

/* Mengatur bagian slider */
.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 12rem;
}

.home .home-slider .slide .content {
    flex: 2 2 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}


.home .home-slider .slide .content h3 {
    color: #000000;
    font-size: 7rem;
}

.home .home-slider .slide .content p {
    color: #000000;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: #B2AC88;
}

.produk .category-filter {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.produk .category-filter li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}
  
.produk .category-filter li:hover {
    color: blue;
}

/* Mengatur bagian tampilan produk */
.produk .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.produk .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.produk .box-container .box .fa-heart,
.produk .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #000000;
}

.produk .box-container .box .fa-heart:hover,
.produk .box-container .box .fa-eye:hover {
    background: #B2AC88;
    color: #fff;
}

.produk .box-container .box .fa-heart {
    right: -15rem;
}

.produk .box-container .box .fa-eye {
    left: -15rem;
}

.produk .box-container .box:hover .fa-heart {
    right: 1.5rem;
}

.produk .box-container .box:hover .fa-eye {
    left: 1.5rem;
}

.produk .box-container .box .fa-heart:hover,
.produk .box-container .box .fa-eye:hover {
    background: #B2AC88;
    color: #eee;
}


.produk .box-container .box img {
    height: 17rem;
    margin: 1rem;
}

.produk .box-container .box h3 a {
    color: #000000;
    font-size: 1.7rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.produk .box-container .box span {
    color: #000000;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.btn-1 {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #000000;
    background: #EDE9E3;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn-1:hover {
    background: #CDC6C3;
}

.produk .box-container .box .btn-1 {
    margin-top: auto;
}

/* Mengatur tampilan add to cart counter */
#cart-icon {
    position: relative;
}
  
#cart-counter {
    position: fixed;
    top: 10px;
    right: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

/* Mengatur tampilan Promo */
.heading-promo {
    text-align: center;
    color: #000000;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.promo .box-promo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 1.5rem;
}

.promo .box-promo a{
    text-decoration: none;
    color: #000000;
}

.promo .box-promo .promo-box {
    padding: 1.5rem;
    background: #fff;
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.promo .box-promo .promo-box:hover {
    background: #B2AC88;
    color: #eee;
}

.promo .box-promo .promo-box h3 {
    font-size: 2rem;
    text-align: left;
}

.promo .box-promo .promo-box p {
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1.5;
    text-align: left;
}

.claim-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.claim-notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFF0;
    border-radius: 10px;
    color: black;
    padding: 8px 16px;
    font-size: 17px;
    box-shadow: var(--box-shadow);
}

.promo-box:hover::before {
    display: block;
    background-color: white;
    color: #000;
    left: 50%;
    transform: translate(110%);
    font-size: 14px;
    font-weight: bolder;
    padding: 8px;
    borber-radius: 4px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    user-select: all;
    cursor: pointer;
}

/* Mengatur tampilan Footer */
.footer .box-container {
    display: flex;
    justify-content: space-between;
}

.footer .box {
    flex: 1;
    margin-right: 1.5rem;
}

.footer .box:last-child {
    margin-right: 0;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.2rem;
    color: black;
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.4rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 1.8rem;
    color: black;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: #B2AC88;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 20px;
  }

  .copyright p {
    margin: 0;
  }

  .fa-heart {
    color: red;
  }



/* Media queries */

@media (max-width:991px){

    html {
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    #cart-counter {
        position: absolute;
        top: 10px;
        right: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
      }

}

@media (max-width:991px){

    html {
        font-size: 50%;
    }

    .produk .box-container .box img {
        height: auto;
        width: 100%
    }

    
}