@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

/* Mengatur keseluruhan html */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #B2AC88;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

h1 {
    text-align: center;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.qr-code {
    width: 200px;
    height: 200px;
    margin-top: 90px;
}

.virtual-account {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}
  
.note {
    text-align: center;
    font-style: italic;
}

.btn {
    margin-top: 30px;
    display: inline-block;
    font-size: 25px;
    color: #000000;
    background: #EDE9E3;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 35px;
}

.btn:hover {
    background: #CDC6C3;
}

.countdown {
    font-size: 18px;
    margin-top: 20px;
}

.countdown span {
    color: red;
}
